<footer class="ftr">
	<div class="block4-main center-block-main clearfix">
    	<article>
        	<h2>Our Stores</h2>
            <div class="ftr-block-content">
            	<p>Feel free to visit our stores or contact us.
                1401 South Grand Avenue 
                Los Angeles, CA 90015 
                (213) 748-2411</p>
                
                <p>100 Fairview Drive 
                Franklin, VA 23851 
                (757) 569-6100 </p>
            </div>
        </article>
        <article>
        	<h2>Blog posts</h2>
            <div class="ftr-block-content">
            	<h3><a href="#">Justin Bieber confirmed that he is gay.</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Donec sed auctor elit.</p>
				
                <h3><a href="#">Justin Bieber confirmed that he is gay.</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Donec sed auctor elit.</p>
            </div>
        </article>
        <article>
        	<h2>Support</h2>
            <div class="ftr-block-content">
            	<p class="support">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">FAQ</a>
                    <a href="#">Payment</a>
                    <a href="#">Refunds</a>
                    <a href="#">Track Order</a>
				</p>
                <p class="support">
                    <a href="#">Services</a>
                    <a href="#">Privacy & Security</a>
                    <a href="#">Careers</a>
                    <a href="#">Press</a>
                </p>
            </div>
        </article>
        <article>
        	<h2>Contact us</h2>
            <div class="ftr-block-content">
            	<form>
                	<input class="ftrmail" type="email" placeholder="your e-mail...">
                    <textarea class="ftrtext" placeholder="your text..."></textarea>
                    <input class="ftrsubmit" type="submit" value="Send MESSAGE">
                </form>
            </div>
        </article>
    </div>
</footer>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="unslider-min.js"></script>
<script>
		jQuery(document).ready(function($) {
			$('.my-slider').unslider({
				autoplay:true,
				arrows:false
			});
		});
</script>

<script>
	function setEqualHeight(columns) { 
		var tallestcolumn = 0; 
		columns.each( function() { 
			currentHeight = $(this).height(); 
			if(currentHeight > tallestcolumn) { tallestcolumn = currentHeight; } } ); 
			columns.height(tallestcolumn); 
		} 
		
		$(document).ready(function() { setEqualHeight($(".block4-main-content")); });
</script>